<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar" >
    <div ngClass.xs="menu-xs" fxLayout="row" fxLayout.xs="row" fxLayout.xs="10">
      <button mat-icon-button (click)="snav.toggle()" class="menu_button">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <img class="keep_image" fxLayout="row" fxHide.xs="true" fxHide.sm="true" src="../../../assets/keep-image.png" />
      <h1 fxLayout="row" fxLayout.xs="row" class="example-app-name">Fundoo</h1>
    </div>

    <div class="div_wrraper" ngClass.xs="div_wrraper-xs" ngClass.md="div_wrraper-md" ngClass.sm="div_wrraper-sm">
      <img src="../../../assets/search_black_24dp.svg" />
      <input type="text" class="searchfrom" autocomplete="off" (keyup)="recieveSearchmsg($event)" matInput placeholder="search" />
    </div>

    <div class="image_wrraper" ngClass.sm="list-sm">
      <img fxHide.xs="true" fxHide.sm="true" src="../../../assets/refresh_black_24dp.svg" />
      
        <img  ngClass.xs="list-xs" ngClass.sm="list-sm" style="margin-left: 23px" *ngIf="!isGrid" (click)="gridview();view()" src="../../../assets/dns_black_24dp.svg" />
     
        <img ngClass.xs="list-xs" ngClass.sm="list-sm" style="margin-left: 23px" *ngIf="isGrid" (click)="listview();view()" src="../../../assets/grid_view_black_24dp.svg" />
      
      <img fxHide.xs="true" fxHide.sm="true" style="margin-left: 23px" src="../../../assets/settings_black_24dp.svg" />
    </div>
    <div class="toolbar_image" fxLayout="row">
      <img fxHide.xs="true" fxHide.sm="true" src="../../../assets/apps_black_24dp.svg" />
      <img ngClass.xs="toolbar_image_xs" ngClass.sm="toolbar_image_sm" style="margin-left: 21px; cursor: pointer;" src="../../../assets/person_black_24dp.svg" (click)="logout()" />
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="mat_sideber"
    >
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="notes"
          ><img src="../../../assets/lightbulb_black_24dp.svg" />Notes</a
        >
        <a mat-list-item routerLink="."
          ><img src="../../../assets/notifications_black_24dp.svg" />Reminder</a
        >
        <a mat-list-item routerLink="."
          ><img src="../../../assets/edit_black_24dp.svg" />Label</a
        >
        <a mat-list-item routerLink="archive"
          ><img src="../../../assets/archive_black_24dp.svg" />Archive</a
        >
        <a mat-list-item routerLink="trash"
          ><img src="../../../assets/delete_black_24dp.svg" />Trash</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-container">
      <div class="notes-container"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>