<div ngClass.gt-md="container-gt-md" ngClass="container" fxLayout="column"  fxLayoutAlign="space-between center">
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">

    <div class="Header"  fxLayout.lt-xl="column"  fxLayoutAlign.lt-xl=" center">
        <h1>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="oo">o</span>
        </h1>
        <p>Forget password?</p>
        <p class="desc">Enter your email to recover password</p>
    </div>
    <div class="Email-content">
        <mat-form-field class="email" appearance="outline">
        <mat-label>Enter Your Email</mat-label>
        <input matInput placeholder="email" formControlName="email">
        <mat-error>Enter valid Email</mat-error>
        </mat-form-field> 
    </div>
    <div ngClass.gt-md="btn-container-gt-md"  ngClass="btn-container" fxFlexAlign="end">
        <button ngClass="btn" mat-raised-button >Next</button>
    </div>
    </form>
</div>