h1{
    font-size: x-large;
    font-weight:500;
    .f{
        color: blue;
    }
    .u{
        color: rgb(251, 201, 51);
    }
    .n{
        color: rgb(31, 252, 94);
    }
    .d{
        color: rgb(247, 32, 32);
    }
    .o{
        color: rgb(156, 225, 250);
    }
    .oo{
        color: rgb(250, 54, 211);
    }
}
.container-gt-md{
    border: 1px solid rgba(240, 209, 209, 0.692);
    border-radius: 10px;
    width: 40%;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
  
    .desc{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn-container-gt-md{
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: end;
        .btn{
            background-color: rgb(77, 77, 253);
            color: #fff
        }
    }
    .Email-content{
        height: 70px;
        
        .email{
            width: 405px;
            height: 55px;
        }
    }
    .font{
        font-size: 13px;
        
    } 
}
.container{
    border: 1px solid rgba(240, 209, 209, 0.692);
    border-radius: 10px;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    
    .btn-container{
        margin-top: 30px;
        text-align: end;
        .btn{
            background-color: rgb(77, 77, 253);
            color: #fff
        }
    }
    .Email-content{
        .email{
            width: 405px;
            height: 60px;
        }
    }
    
}