.takenote{
    border: 1px solid green; 
    width: 280px;
    margin-left: 280px;
    border-color: #e0e0e0;
    margin-top: 44px;
    border-radius: 14px;
    padding: 10px;
    .icontop{
        margin-right: 20px;
    }
    
   

}
.icons{
    text-align: center;
}