<div class="Container">
    <div class="HeaderPart">
        <h2>Fundoo</h2>
        <p>Sign in</p>
        <p class="Description">Use Your Fundoo Account</p>
    </div>
    <div class="Information">
        <div class="EmailPart">
            <mat-form-field class="Info" appearance="outline">
                <mat-label>Enter Your Email</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field> 
        </div>
        <div class="PassWordPart">
            <mat-form-field class="Info" appearance="outline">
             <mat-label>Password</mat-label>
             <input matInput placeholder="Placeholder">
            </mat-form-field>
            <a href="https://www.google.com/" target="_blank">Forgot Password?</a>        

        </div>
    </div>
    <div class="EndPart">
       
        <a mat-button href="https://www.google.com/" target="_blank">Create Account</a>        
        <button mat-raised-button color="primary">Next</button>
    </div>  
    
</div>