<div class="Container">
    <form [formGroup]="loginForm">
    <div class="HeaderPart">
        <h2>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="oo">o</span>
        </h2>
        <p>Sign in</p>
        <p class="Description">Use Your Fundoo Account</p>
    </div>
   
    <div class="Information">
        <div class="EmailPart">
            <mat-form-field class="Info" appearance="outline">
                <mat-label>Enter Your Email</mat-label>
                <input matInput placeholder="Placeholder" formControlName="email">
                <mat-error>Enter valid Email</mat-error>
            </mat-form-field> 
        </div>
        <div class="PassWordPart">
            <mat-form-field class="Info" appearance="outline">
             <mat-label>Password</mat-label>
             <input matInput placeholder="Placeholder" formControlName="password">
             <mat-error>Enter valid Password</mat-error>
            </mat-form-field>
            <a href="/forgetpassword" target="_blank">Forgot Password?</a>        
        </div>
    
    </div>
    <div class="EndPart">       
        <a mat-button href="/register" target="_blank">Create Account</a>        
        <button mat-raised-button color="primary">Next</button>
    </div>  
    </form>    
</div>