.Container{    
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    width:50%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding:20px;
    h1{
        font-size: x-large;
        .f{
            color: blue;
        }
        .u{
            color: rgb(251, 201, 51);
        }
        .n{
            color: rgb(31, 252, 94);
        }
        .d{
            color: rgb(247, 32, 32);
        }
        .o{
            color: rgb(156, 225, 250);
        }
        .oo{
            color: rgb(250, 54, 211);
        }
    }
    h3{
        font-size: x-large;
    }
    .SubContainer{
        display: flex;
        justify-content: space-between;
        .FormContainer{
            display: flex; 
            flex-direction: column;
            .UserName{
                display: flex;
                gap: 20px;
                .Info{
                width: 150px;
                }
            }  
            .EmailPart{
                .Info{
                    width: 320px;
                }  
            } 
            .PassWordPart{
               
                display: flex;
                flex-direction: row;
                gap: 20px;
                .Info{
                    width: 150px;
                    height: 60px;
                }

            }
            p{
                font-size: x-small;
            }
            .EndPart{
                
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                .link{
                    color: rgb(71, 71, 209);
                }                
            }  
        }               
        .ImagePart{
        height: 50px;
        width: 210px;
        align-self: flex-start;  
        font-size: larger;      
        }
    }  
}
